/*****************************************************

STYLE COMMUN A TOUTES LES PAGES

*****************************************************/

/*****************************************************
POLICES DE CARACTERE
*****************************************************/

@font-face {
    font-family: "Mulish-Black";
    src: url(./fonts/mulish/Mulish-Black.ttf);
}

@font-face {
    font-family: "Mulish-Bold";
    src: url(./fonts/mulish/Mulish-Bold.ttf);
}

@font-face {
    font-family: "Mulish-Regular";
    src: url(./fonts/mulish/Mulish-Regular.ttf);
}

@font-face {
    font-family: "Mulish-Italic";
    src: url(./fonts/mulish/Mulish-Italic.ttf);
}

/*****************************************************
ANIMATIONS
*****************************************************/

@keyframes fadein {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

/*****************************************************
VARIABLES
*****************************************************/

:root {
    --text-color: white;
    --text-color2: #919ab9;
    --text-color3: #ffd05b;
    --text-retour-color: #737A9B;
    --text-titre-color: #ffc229;
    --text-titre-color2: #b6bcd5;
    --bg-body-color: #121628e6;
    --bg-color1: #1a1f33;
    --bg-color2: #262a3d;
    --bg-color3: #383c55;
    --bg-color4: #50577c;
    --shadow-color: #0c0f1d;
    --bg-button-color: #4c7a3a;
    --bg-button-hover-color: #3c612e;
    --bg-button-stop-color: #c22323;
    --bg-button-stop-hover-color: #ac1f1f;
    --bg-maze1-color: #181c2e;
    --bg-maze2-color: #1f253d;
    /* --bg-maze3-color: #0755ad; */
    --bg-maze3-color: #4c7a3a;
}

/*****************************************************
BODY
*****************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100vh;
    font-family: "Mulish-Regular", Verdana, sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    background: linear-gradient(to bottom, var(--bg-body-color), var(--bg-body-color)), url("../images/Labyrinthe.jpg");
    background-position: center; 
    background-repeat: repeat;
    animation: fadein 1s;
}

/*****************************************************
BOUTONS
*****************************************************/

.btn {
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    background-color: var(--bg-button-color);
    border: 0px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.btn:hover {
    background-color: var(--bg-button-hover-color);
}

.btn-disabled {
    background-color: #8c8c8c;
    cursor: auto;
}

.btn-disabled:hover {
    background-color: #8c8c8c;
}

/*****************************************************
FENETRE MODALE MESSAGE
*****************************************************/

.message {
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    top: 0;
    left:0;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 1;
}

.message #message {
    width: 400px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color1);
    border-radius: 20px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message #libelle-message {
    text-align: center;
    margin: 0 0 40px;
}

.message #btn-message {
    width: 100%;
}
