/*****************************************************
STYLE PAGE D'ACCUEIL
*****************************************************/

body {
    height: 100vh;
    background: linear-gradient(to bottom, var(--bg-body-color), var(--bg-body-color)), url("../../images/Labyrinthe.jpg");
    background-position: center; 
    background-repeat: repeat;
    animation: fadein 1s;
}

.modal {
    padding: 50px 40px;
    width: 600px;
    background-color: var(--bg-color1);
    border-radius: 10px;
    box-shadow: 10px 10px 20px var(--shadow-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    margin: 20px 0 0;
    width: 20px;
}

h1 {
    margin: 0;
    font-family: "Mulish-Bold", Verdana, sans-serif;
    font-size: 2.2rem;
}

/*****************************************************
SECTION PRESENTATION
*****************************************************/

.presentation p {
    margin: 20px 0 0;
    text-align: justify;
    line-height: 1.6rem;
}

/*****************************************************
SECTION CHOIX APPLICATION (GENERATEUR OU COMPARATEUR)
*****************************************************/

.application {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.application>div {
    margin: 60px 0 0;
    padding: 40px 20px 80px;
    line-height: 1.6rem;
    background-color: var(--bg-color2);
    border-radius: 5px;
    position: relative;
}

.application h2 {
    font-family: "Mulish-Italic", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--text-titre-color);
    text-align: center;
    text-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-60%);
}

.application p {
    margin: 0 0 10px;
    text-align: justify;
}

.application .btn {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20px);
}
